/* 清除内外边距 */
html,body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,/* structural elements 结构元素 */
dl,dt,dd,ul,ol,li,/* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
from,fieldset,legend,button,input,textarea,/* form elements 表单元素 */
th,td {padding:0;margin:0}/* table elements 表格元素 */
input,textarea {outline: none;}/* 去除点击时的外边框 */
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
i,s {font-style: normal;} /* 去除小标签 默认样式 */
code, kbd, pre, samp {font-family: courier new, courier, monospace;} /* 统一等宽字体 */
ul, ol, li {list-style: none;}/* 重置列表元素 */
/** 重置文本格式元素 **/
a {text-decoration: none;}
a,a:hover,a:visited {text-decoration: none!important;}
sup {vertical-align: text-top;}/* 重置, 减少对行高的影响 */
sub {vertical-align: text-bottom;}
/** 重置表单元素 **/
legend{color:#000;}/* for ie6 */
fieldset,img {border:none}/* img 搭车：让链接里的 img 无边框 */
button,input,select,textarea{font-size: 100%;}/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table{border-collapse: collapse; border-spacing: 0;}
/** 重置 HTML5 元素 **/
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video{display: block;margin: 0;padding: 0;}
/** 其他 **/
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-track{background-color:#eee}
::-webkit-scrollbar-thumb{border-radius:6px;background-color:#ccc}
.clearfix::after,.clearfix::before{content:".";line-height:0;height:0;display:block;visibility:hidden;clear:both;}
html,body{font-size: 14px;}
body{
    background: #f8f8f8;
    min-width: 768px;
}
.l{float: left;}
.r{float: right;}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
*{box-sizing: border-box;}
.el-table th{background: #eef1f6!important;}
.el-pagination{text-align:right!important;;padding:18px 18px 10px 10px!important;}
a,a:hover,a:visited{color:rgb(34, 153, 238);}

.content-con{padding:0 20px;position: relative;}
.content-con .every-page-box{
    background: #fff;
    min-height: 400px;
    padding: 0 10px 14px;
    overflow: hidden;
}


